<head>
    <title>Hello, world!</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="Pukks.online website" />
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet"  href="css/style.css" >
    <meta name="theme-color" content="#d3e8fc">
    <meta property="og:title" content="<%=title%>" />
    <meta property="og:description" content="Website made by KevlarPukks" />
    <meta property="og:image" content="img/cover.png" />
    <meta name="twitter:card" content="">
    <meta name="twitter:site" content="https://pukks.online">
    <meta name="twitter:title" content="<%=title%>">
    <meta name="twitter:description" content="Website made by KevlarPukks">
    <meta name="twitter:image" content="img/cover.png">
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>